<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Video</h5>
        <button type="button" class="close close-video-player" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="position: center">
        <video id="episode-video" width="500" height="240" controls>
          <source id="video-src" src="" type="video/mp4">
          <source src="" type="video/ogg">
          Your browser does not support the video tag.
        </video>
<!--        <video-->
<!--          id="my-video"-->
<!--          class="video-js"-->
<!--          controls-->
<!--          preload="auto"-->
<!--          width="500"-->
<!--          height="264"-->

<!--          poster="https://dev-nuvek.s3.amazonaws.com/episode/1670235334_istockphoto-1357365823-612x612.jpg"-->
<!--          data-setup="{}"-->
<!--        >-->
<!--          <source id="video-src" src="https://dev-nuvek.s3.amazonaws.com/episode/1672652636_Video-20221213_061141-MeetingRecording.mp4" type="video/mp4" />-->
<!--          <p class="vjs-no-js">-->
<!--            To view this video please enable JavaScript, and consider upgrading to a-->
<!--            web browser that-->
<!--            <a href="https://videojs.com/html5-video-support/" target="_blank"-->
<!--              >supports HTML5 video</a-->
<!--            >-->
<!--          </p>-->
<!--        </video>-->
      </div>
    </div>
  </div>
</div>