<div class="modal fade" id="delete_lang" tabindex="-1" aria-labelledby="delete_lang" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Language</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>Are you sure you want to delete the language? This process is irreversible, and will remove all related data (audio recordings, video, etc.)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="btnDeleteLanguage" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>