<div class="offcanvas offcanvas-end" tabindex="-1" id="edit_lang_cont" aria-labelledby="offcanvasEndLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasEndLabel" class="offcanvas-title">Edit Native Text</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <div class="offcanvas-body mx-0 flex-grow-0 mt-3">
    <div class="mb-3">
      <label for="updateKeywordValue" class="form-label">Native text value of <b id="lang-key-value"></b> in  <b>{{ language_data.language_name}}</b> </label>
      <textarea id="updateKeywordValue" class="form-control" placeholder="Content..." keyword-key=""></textarea>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-secondary mb-2 me-2 d-grid" data-bs-dismiss="offcanvas">Cancel</button>
      <button type="button" id="btnEditLangKeywords" class="btn btn-primary mb-2 d-grid">Confirm Changes</button>
    </div>
  </div>
</div>