{% include 'fragments/header.html' %}

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                     <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="logo" class="main_logo">
                  </span>
               
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-4 text-center">Confirmation Email sent!</h4>
              <p class="text-center" id="forgotPassMsg">We sent a confirmation code to demo@gmail.com
                Please type in the confirmation code below, along with your new password</p>

              {#<form id="formAuthentication" class="mb-3" action="index.html" method="POST">#}
              <div class="mb-3">
                <div class="mb-3">
                  <label for="forgotPassOTP" class="form-label">Confirmation code</label>
                  <input
                    type="text"
                    class="form-control"
                    id="forgotPassOTP"
                    placeholder=""
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="newPass">Password</label>
                   
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="newPass"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top"
                          title="Your password must contain at least one lower case letter, one upper case letter, one number, one special character, and be at least 8 characters long">
                      <i class='bx bxs-info-circle'></i> </span>
                  </div>
                </div>
                 

                  <div class="mb-3 form-password-toggle">
                    <div class="d-flex justify-content-between">
                      <label class="form-label" for="confNewPass">Confirm Password</label>
                     
                    </div>
                    <div class="input-group input-group-merge">
                      <input
                        type="password"
                        id="confNewPass"
                        class="form-control"
                        name="password"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password"
                      />
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                  </div>

                  <p class="text-center">Don’t see it after a few minutes? Please go back, verify your email, and try again. <br><a href="javascript:void(0);" id="btnResendForgotPassOTP">Resend Code</a> </p>
                  
                  <div class="d-flex justify-content-center">
                    {#<a href="javascript:void(0);" class="btn btn-primary m-2">Confirm</a>#}
                    <button class="btn btn-primary m-2" id="bthChangeForgotPass">Confirm</button>
                    <a href="/forgot-password" class="btn btn-secondary m-2">  Go Back  </a>
                  </div>
              </div>
              <div class="text-center"></div>
            {#</form>#}
            </div>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
    <!-- / Content -->
  </body>

{% include 'fragments/footer.html' %}
