<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="assets/"
        data-template="vertical-menu-template-free"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Scripture Videos</title>
    <meta name="description" content=""/>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/boxicons.css') }}"/>

    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/tag/inputTags.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
    <!-- Core CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/core.css') }}"
          class="template-customizer-core-css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}"
          class="template-customizer-core-css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/demo.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/range/freshslider.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}"/>

    <!-- Helpers -->
    <script src="{{ url_for('static', filename='assets/vendor/js/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/config.js') }}"></script>
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="index.html" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="{{ url_for('static', filename='assets/img/logo_icon.png') }}" alt="logo" width="50px">
              </span>
                    <span class="app-brand-text demo menu-text fw-bolder ms-2">
                      <img width="140px" src="{{ url_for('static', filename='assets/img/logo_text.png') }}"> </span>
                </a>

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                    <i class="bx bx-chevron-left bx-sm align-middle"></i>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <ul class="menu-inner py-1">
                <!-- Dashboard -->
                <li class="menu-item">
                    <a href="language-management.html" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-text"></i>
                        <div data-i18n="Analytics">Language Management</div>
                    </a>
                </li>

                <li class="menu-item active">
                    <a href="index.html" class="menu-link">
                        <i class="menu-icon tf-icons bx bxs-category-alt"></i>
                        <div data-i18n="Analytics">Dubbing Management</div>
                    </a>
                </li>

                <li class="menu-item  ms-2">
                    <a href="series-management.html" class="menu-link ">
                        <i class='menu-icon tf-icons bx bxs-chalkboard'></i>
                        <div data-i18n="Analytics">Series Management</div>
                    </a>
                </li>
                <li class="menu-item  ms-4">
                    <a href="episode-management.html" class="menu-link ">
                        <i class='menu-icon tf-icons bx bx-film'></i>
                        <div data-i18n="Analytics">Episode Management</div>
                    </a>
                </li>
            </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <nav
                    class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar"
            >
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center">
                        <!-- <div class="nav-item d-flex align-items-center">
                          <i class="bx bx-search fs-4 lh-0"></i>
                          <input
                            type="text"
                            class="form-control border-0 shadow-none"
                            placeholder="Search..."
                            aria-label="Search..."
                          />
                        </div> -->
                    </div>
                    <!-- /Search -->

                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <!-- Place this tag where you want the button to render. -->


                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                               data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="{{ url_for('static', filename='assets/img/avatars/1.png') }}" alt
                                         class="w-px-40 h-auto rounded-circle"/>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="{{ url_for('static', filename='assets/img/avatars/1.png') }}"
                                                         alt class="w-px-40 h-auto rounded-circle"/>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block">John Doe</span>
                                                <small class="text-muted">Admin</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">My Profile</span>
                                    </a>
                                </li>

                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="auth-login-basic.html">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>
            </nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="d-flex justify-content-between align-items-start">
                        <h4 class="fw-bold py-3 mb-2">Dubbing Management</h4>
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd"><i class='bx bx-movie'></i>
                            Create Master Series
                        </button>
                    </div>


                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd"
                         aria-labelledby="offcanvasEndLabel">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasEndLabel" class="offcanvas-title">Create New Series</h5>
                            <button
                                    type="button"
                                    class="btn-close text-reset"
                                    data-bs-dismiss="offcanvas"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="offcanvas-body my-auto mx-0 flex-grow-0">
                            <div class="mb-3">
                                <label class="form-label">Master Series Name:</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Master Thumbnail:</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" id="" class="form-control" name="password"
                                           aria-describedby="password">
                                    <span class="input-group-text cursor-pointer" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title=""
                                          data-bs-original-title="Thumbnail requirements"> <i
                                            class="bx bxs-info-circle"></i> </span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Position:</label>
                                <div id="unranged-value"></div>

                            </div>

                            <div class="mb-3 d-flex align-items-start">
                                <img src="{{ url_for('static', filename='assets/img/elements/12.jpg') }}" width="100" class="d-block rounded">
                                <div class="input-group ms-2">
                                    <input type="file" class="form-control btn-outline-primary" id="inputGroupFaile04"
                                           aria-describedby="inputGroupFileAddon04" aria-label="Upload">

                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary mb-2 me-2 d-grid">Cancel</button>
                                <button type="button" class="btn btn-primary mb-2 d-grid ">Create Series</button>
                            </div>


                        </div>
                    </div>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="EditSeries"
                         aria-labelledby="offcanvasEndLabel">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasEndLaeebel" class="offcanvas-title">Edit Series</h5>
                            <button
                                    type="button"
                                    class="btn-close text-reset"
                                    data-bs-dismiss="offcanvas"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="offcanvas-body my-auto mx-0 flex-grow-0">
                            <div class="mb-3">
                                <label class="form-label">Master Series Name:</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Master Thumbnail:</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" id="a" class="form-control" name="password"
                                           aria-describedby="password">
                                    <span class="input-group-text cursor-pointer" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title=""
                                          data-bs-original-title="Thumbnail requirements"> <i
                                            class="bx bxs-info-circle"></i> </span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Position:</label>
                                <div id="unranged-value2"></div>

                            </div>

                            <div class="mb-3 d-flex align-items-start">
                                <img src="{{ url_for('static', filename='assets/img/elements/12.jpg') }}" width="100" class="d-block rounded">
                                <div class="input-group ms-2">
                                    <input type="file" class="form-control btn-outline-primary" id="inputGroupFile04"
                                           aria-describedby="inputGroupFileAddon04" aria-label="Upload">

                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary mb-2 me-2 d-grid">Cancel</button>
                                <button type="button" class="btn btn-primary mb-2 d-grid ">Confirm Changes</button>
                            </div>


                        </div>
                    </div>


                    <!-- Button trigger modals -->


                    <!-- Modal -->
                    <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Series</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to Delete Series? This process is irreversible, and will
                                        remove ALL related data (audio recordings, video, etc)</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                    <button type="button" class="btn btn-primary">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Basic Bootstrap Table -->


                    <div class="card p-3 mb-4">
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="form-label">Title</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Language</label>
                                <div class="clearfix"></div>
                                <input type="text" id="tags" value=""/>

                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Views</label>
                                <div id="ranged-value" class="mt-2"></div>
                            </div>

                            <div class="col-lg-3">
                                <label class="form-label">Status</label>
                                <select class="form-select">
                                    <option>Active</option>
                                    <option>Deactivated</option>
                                    <option>In Progress</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-lg-12 mt-3 text-end">
                            <button type="button" class="btn btn-secondary">Clear Filters</button>
                            <button type="button" class="btn btn-primary"><i class='bx bx-filter-alt'></i> Filter
                            </button>
                        </div>
                    </div>


                    <div class="card p-3">

                        <div class="table-responsive text-nowrap">
                            <table id="example" class="table" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Order</th>
                                    <th>Series Title(English)</th>
                                    <th>Languages</th>
                                    <th>Video</th>
                                    <th>Views?</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                <tr>
                                    <td>1</td>
                                    <td>The Odyssey</td>
                                    <td>2</td>
                                    <td><span class="badge bg_gold">Video</span></td>
                                    <td>400</td>
                                    <td><select class=" form-select-sm">
                                        <option>Active</option>
                                        <option>Deactivated</option>
                                        <option>In Progress</option>

                                    </select></td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">

                                                <a class="dropdown-item" href="series-management.html"><i
                                                        class='bx bxs-cog me-2'></i> Manage</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                   data-bs-toggle="offcanvas" data-bs-target="#EditSeries"
                                                   aria-controls="offcanvasEnd"><i class="bx bx-edit-alt me-2"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                   data-bs-toggle="modal" data-bs-target="#delModal"><i
                                                        class="bx bx-trash me-2"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>The Illiad</td>
                                    <td>3</td>
                                    <td><span class="badge bg_gold">Video</span></td>
                                    <td>400</td>
                                    <td><select class="form-select-sm">
                                        <option>Active</option>
                                        <option>Deactivated</option>
                                        <option>In Progress</option>

                                    </select></td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">

                                                <a class="dropdown-item" href="series-management.html"><i
                                                        class='bx bxs-cog me-2'></i> Manage</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                   data-bs-toggle="offcanvas" data-bs-target="#EditSeries"
                                                   aria-controls="offcanvasEnd"><i class="bx bx-edit-alt me-2"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                   data-bs-toggle="modal" data-bs-target="#delModal"><i
                                                        class="bx bx-trash me-2"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                                <tr class="">
                                    <td>3</td>
                                    <td>The Long Road Home</td>
                                    <td>1</td>
                                    <td><span class="badge bg_gold">Video</span></td>
                                    <td>300</td>
                                    <td><select class="form-select-sm">
                                        <option>Active</option>
                                        <option>Deactivated</option>
                                        <option>In Progress</option>

                                    </select></td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">

                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                        class='bx bxs-cog me-2'></i> Manage</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="bx bx-edit-alt me-2" data-bs-target="#EditSeries"
                                                        aria-controls="offcanvasEnd"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                   data-bs-toggle="modal" data-bs-target="#delModal"><i
                                                        class="bx bx-trash me-2"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/ Basic Bootstrap Table -->


                </div>
                <!-- / Content -->

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <div class="mb-2 mb-md-0">
                            ©
                            <script>
                    document.write(new Date().getFullYear());

                            </script>
                            Scripture Videos

                        </div>

                    </div>
                </footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
</body>

<script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

<script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


<!--===== jquery range ====-->
<script src="{{ url_for('static', filename='assets/range/freshslider.min.js') }}"></script>
<script>
        var s3 = $("#ranged-value").freshslider({
            range: true,
            step:1,
            value:[1, 60],
            onchange:function(low, high){
                console.log(low, high);
            }

        });
        var s3 = $("#unranged-value").freshslider({
            range: true,
            step:5,
            value:[1, 99],
            onchange:function(low, high){
                console.log(low, high);
            }

        });

        var s3 = $("#unranged-value2").freshslider({
            range: true,
            step:1,
            value:[1, 99],
            onchange:function(low, high){
                console.log(low, high);
            }

        });

</script>

<!--===== jquery data table ====-->

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
      $(document).ready(function () {
    $('#example').DataTable();
});

</script>

<!--===== jquery input tage ====-->


<script type="text/javascript" src="{{ url_for('static', filename='assets/tag/index.js') }}"></script>
<script stype="text/javascript">
  jQuery(document).ready(function($) {
    var tags = $('#tags').inputTags({
      tags: [],
      autocomplete: {
        values: [ 'English', 'Spanish',  ]
      },

    });

    $('#tags').inputTags('tags', 'English', function(tags) {
      $('.results').empty().html('<strong>Tags:</strong> ' + tags.join(' - '));
    });

    var autocomplete = $('#tags').inputTags('options', 'autocomplete');
    $('span', '#autocomplete').text(autocomplete.values.join(', '));
  });

</script>

</html>
