<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd"                aria-labelledby="offcanvasEndLabel"                    >
                      <div class="offcanvas-header">
                        <h5 id="offcanvasEndLabel" class="offcanvas-title">Filter</h5>
                        <button
                          type="button"
                          class="btn-close text-reset"
                          data-bs-dismiss="offcanvas"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="offcanvas-body mt-3 mx-0 flex-grow-0">
                        <div class="mb-3">
                          <label for="episode-dubbed-language" class="form-label">In Language</label>
                          <input type="text" class="form-control" id="episode-dubbed-language">
                        </div>

                        <div class="mb-3">
                          <label for="episode-dubbed-title" class="form-label">Title</label>
                          <input type="text" class="form-control" id="episode-dubbed-title">
                        </div>

                        <div class="d-flex justify-content-end">
                          <button type="button" class="btn btn-secondary mb-2 me-2 d-grid" id="cancel-dubbed-episode-filter">Clear Filters</button>
                          <button type="button" class="btn btn-primary mb-2 d-grid" id="dubbed-episode-filter">Filter</button>
                          </div>

                      </div>
                    </div>