<div class="modal fade" id="episodeDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Episode Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Master episode name : {{episode_details['episode_name']}} </p>
                                    <p>Master episode title : {{episode_details['episode_title']}} </p>
                                    <p>Master episode description : {{episode_details['episode_description']}} </p>
                                    <p>Master episode thumbnail : {{episode_details['episode_thumbnail'].split("/")[-1] if episode_details['episode_thumbnail'] is not none else episode_details['episode_thumbnail']}} </p><br>
                                    <div class="text-center">
                                        <img src="{{episode_details['episode_thumbnail']}}" alt="logo" width="200px">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
<!--                                    <button type="button" class="btn btn-primary">Delete</button>-->
                                </div>
                            </div>
                        </div>
                    </div>